# Email + password user credentials
LOGIN_EMAIL=
LOGIN_PASSWORD=

# Email + password user wrong credentials
LOGIN_WRONG_EMAIL=
LOGIN_WRONG_PASSWORD=

# Sign up user credentials
SIGN_UP_TEMPLATE=some.email+{uuid}@mail.com
SIGN_UP_NAME=Test
SIGN_UP_ORGANIZATION=Flutter Integration Testing

# Google login email
GOOGLE_EMAIL=

# Google login credentials
APPLE_EMAIL=
APPLE_PASSWORD=

# Tenants
TENANT_ID_1=1148ad6b-e8d1-447c-910b-b270ed5deb22
TENANT_ID_2=9cbbbea9-18c8-4c18-a43a-fd6f1623d422
TENANT_NAME_1=Account 1
TENANT_NAME_2=Account 2