<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>https://app-axsx38m96enh.frontegg.com</string>
	<key>clientId</key>
	<string>392b348b-a37c-471f-8f1b-2c35d23aa7e6</string>
	<key>logLevel</key>
	<string>trace</string>
</dict>
</plist>
